mixin drag(count,title,price,href, name,used,slot,image)
    .dragzone(data-name=`${name}`, data-used=`Used By: ${used}`, data-slot=`Slot: ${slot}`)
        .imgPad
            .stylesOfImg
                div=title
                .second-image
                    img(id="dragelement"+count src=image ondragstart='dragStart(event)' alt=name)
                div=price
#new_grid.mainContent.dragzoneContainer
    -count=0;
    each val in boot_items
        -count=count+1
        +drag(count,"title",val.lowest_price,href, val.trade_hash,"used","slot",val.image)


