mixin drag(count,title,price,href, name,used,slot,image)
    .dragzone
        .imgPad
            .stylesOfImg
                div=title
                .second-image
                    img(id="dragelement"+count src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KW1Zwwo4NUX4oFJZEHLbXK9QlSPcU2uxRKA0HfSeW_1MfsRFh1NQtZ-beqJQZy0Pv3ZjhD_NO42oXYx_KjarmFwGpSuJUk07GS9Nii21Hnr0ZpMGH7JITDcFI3MguF-FSggbC46lWktTs" ondragstart='dragStart(event)' alt=name)
                div=price
        .hidden-cotainer
            .hover-div-hidden
                div
                    h1=name
                    p="Used By: "+used
                    p="Slot: "+slot
#new_grid.mainContent.dragzoneContainer
    -count=0;
    each val in boot_items
        -count=count+1
        +drag(count,"title",val.lowest_price,href, val.trade_hash,"used","slot",val.image)


    -count=0;
    each val in boot_items
        -count=count+1
        +drag(count,"title",val.lowest_price,href, val.trade_hash,"used","slot",val.image)